table {
    position: relative;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.word-wrap {
    word-break: break-all;
    /* // word-wrap: break-word;
    // overflow-wrap: break-word; */
}
.no-wrap {
    white-space: nowrap;
}